.eslintcache
.env
.env.*
.idea
.DS_Store
.vscode
!.env.example
_actual*.*
_output
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.map
/action
/animate
/build
/compiler.d.ts
/compiler.*js
/easing
/index.*js
/internal
/motion
/package
/scratch/
/src/compiler/compile/internal_exports.ts
/ssr.*js
/store
/test/*/samples/_
/transition
/types
/yarn-error.log
/.svelte-kit